@font-face {
    font-family: "Arquitecta-Regular";
    src: url("fonts/Arquitecta/Arquitecta.otf");
  }
//   @font-face {
//     font-family: "Arquitecta-medium";
//     src: url("../fonts/Poppins/Poppins-Medium.ttf");
//   }
//   @font-face {
//     font-family: "Arquitecta-semibold";
//     src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
//   }
//   @font-face {
//     font-family: "Arquitecta-bold";
//     src: url("../fonts/Poppins/Poppins-Bold.ttf");
//   }
@font-face {
  font-family: "Ploni-Regular";
  src: url("fonts/Ploni/ploni-regular-aaa.ttf");
}