
$font-arq-r: 'Arquitecta-Regular';
$font-plo-r: 'Ploni-Regular';

$dark-blue:#22252F;

$light-gray: #F5F5F5;
$light-gray-2: #D6D6D6;
$light-gray-3: #DBDBDB;

$gray: #C4C5C8;

$pink: #ED3AC3;

$h-xl:48px;
$h-lg:44px;
$h-md:40px;
$h-sm:36px;
$h-xs:32px;
