@import 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css';
@import 'variables';
@import 'fonts';
/****************************************/
$header-top:50px;
$navbar: 70px;
$header:$header-top+$navbar;
/****************************************/
html,body{
    height: 100%;
    overflow: hidden;
    font-family: $font-arq-r;
}
/****************************************/
.body-wrapper{
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    .body-content{
        // padding-top: $header + 50px;
        // height: 100%;
    }
}
/****************************************/
.header{
    // position: fixed;
    // top: 0;
    z-index: 9;
    width: 100%;
    .header-top{
        background: $dark-blue;
        height: 50px;
        padding: 5px 60px;
        display: flex;
        align-items: center;
    }
    .navbar{
        background: transparent;
        height: $navbar;
        overflow: hidden;
        padding: 0 60px;
        .collapse {
            height: 100%;
            .navbar-nav{
                gap: 25px;
                .nav-item{
                    .nav-link{
                        color: #F5F5F5;
                        font-size: 16px;
                        font-weight: 500;
                        padding: 0;
                        font-family: $font-plo-r;
                    }
                }
            }
        }
      
        .navbar-brand {
            padding: 0;
            margin: 0 auto;
            width: 80px;
            height: 100%;
            a{
                display: block;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                    &.logo-dark{
                        display: none;
                    }
                }
            }
        }
        &.nav-white{
            background: #fff;
            .collapse{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            color: $dark-blue;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }
                .navbar-brand {
                   
                    a{
                        img{
                           
                            &.logo-dark{
                                display: block;
                            }
                            &.logo-light{
                                display: none;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
/****************************************/
.footer{
    .footer-top-border{
        height: 0.094rem;
        background: #22252F;
        width: 100%;
        margin: 0 auto;
        margin-bottom:50px ;
    }
    padding: 50px 0 100px 0;
    .footer-list-menu{
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
        li{
            font-family: $font-plo-r;
                font-size: 13px;
                color: $dark-blue;
                margin-top: 5px;
            a{
                text-decoration: none;
                font-family: $font-plo-r;
                font-size: 13px;
                color: $dark-blue;
            }
        }
    }
    .footer-tags{
        display: flex;
        gap: 50px;
        margin-bottom: 50px;
        p{
            color: $dark-blue;
            font-size: 28px;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 5px
        }
    }
    .footer-logo{
        width: 55%;
        object-fit: contain;
        object-position: center;
        margin-bottom: 25px;
    }
    .form-group{
        .form-control{
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #989898;
            &:focus{
                box-shadow: none;
                outline: none;
            }
        }
        label{
            font-size: 13px;
            font-weight: 400;
            font-family: $font-plo-r;
        }
    }
}
/****************************************/
.baner{
    background: url(../images/baner.png);
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    .baner-content{
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        h1{
            color: #fff;
            margin: 0;
            font-size: 80px;
            font-weight: 500
        }
        .tags{
            display: flex;
            gap: 50px;
            p{
                color: #fff;
                font-size: 28px;
                text-transform: uppercase;
                margin: 0;
                letter-spacing: 5px
            }
        }
        @media (max-width:600px) {
            flex-direction: column-reverse;
            h1{
                font-size: 25px;
            }
            .tags{
                gap: 30px;
                p{
                    font-size: 18px;
                }
            }
        }
    }
}
.search-bar-wrapper{
    width: 100%;
    .search-bar-links{
        display: flex;
        justify-content: end;
        gap: 25px;
        margin-bottom: 15px;
    }
    .searh-bar{
        background: #fff;
        
        .select-passenger{
            padding: 15px;
            border-right: 1px solid #C4C5C6;
        }
        .cities{
            padding: 15px;
            border-left: 1px solid #C4C5C6;
        }
    }
}
/****************************************/
.page-title{
    text-align: center;
    margin: 50px 0;
    h1{
        color: $dark-blue;
        margin: 0;
        font-size: 70px;
        font-weight: 500
        
    }
    p{
        font-family: $font-plo-r;
        font-weight: 500;
font-size: 20px;
color: $dark-blue;
margin: 0;
margin-top: 10px;
    }
    .title-border-bottom{
        
        height: 2px;
        background: $dark-blue;
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;
    }
}
/****************************************/
.swiper-container{
padding: 0 130px;
}
/****************************************/
.hotles-swiper{
    .hotel{
        // max-width: 455px;
        // min-width: 455px;
        // width: 455px;
        .image{
            height: 550px;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center
            }
        }
        .hotal-info{
            margin-top: 19px;
            .ratings{
                i{
                    font-size: 14px
                }
            }
        }
    }
}
/****************************************/
.performances-swiper{
    .item{
        // max-width: 455px;
        // min-width: 455px;
        // width: 455px;
        .image{
            height: 550px;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center
            }
        }
        .hotal-info{
            margin-top: 19px;
            .ratings{
                i{
                    font-size: 14px
                }
            }
        }
    }
}
/****************************************/
.filters{
    margin-bottom: 20px;
    .filter{
        display: flex;
        align-items: center;
        gap: 20px;
        ul{
            display: flex;
            gap: 20px;
            list-style: none;
            padding: 0;
            margin: 0;
            font-family: $font-plo-r;
            font-size: 16px;
            .border-line{
                background: #989898;
                border: 1px solid #989898;
            }
            li{
                color: $light-gray-4
            }
        }
    }
}
.retreats-filters{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
/****************************************/
.two-column-list{
    > .row{
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        &:first-of-type{
            // margin-top: 10px;
        }
        &::before{
            content: '';
            width: 95%;
            height: 0.094rem;
            background: #22252F;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0px);
        }
    }
    .img-col{
        width: 100%;
        height: 587px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center
        }
        .date{
            position: absolute;
            right: 10px;
            top: 10px;
            background: #fff;
            font-weight: 500;
    font-size: 50px;
    text-align: center;
    font-family: $font-arq-r;
    color: #22252F;
    padding: 10px 15px;
    span{
        line-height: 1
    }
    span:first-child{
        display: block;
        font-size: 50px;
    }
    span:last-child{
        display: block;
        font-size: 24px;
    }
        }
    }
}

/****************************************/
/****************************************/
/****************************************/
@import 'utilities';